@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url("../../../public/assets/font/MadimiOne-Regular.ttf")
    format("TrueType");
  
}
@font-face {
  font-family: "Montserrat";
  src: url("../../../public/assets/font/MadimiOne-Regular.ttf")
    format("TrueType");
  
}
@font-face {
  font-family: "Montserrat";
  src: url("../../../public/assets/font/MadimiOne-Regular.ttf")
    format("TrueType");
  
}
@font-face {
  font-family: "Montserrat";
  src: url("../../../public/assets/font/MadimiOne-Regular.ttf")
    format("TrueType");
  
}
@font-face {
  font-family: "Montserrat";
  src: url("../../../public/assets/font/MadimiOne-Regular.ttf")
    format("TrueType");
  
}
@font-face {
  font-family: "Montserrat";
  src: url("../../../public/assets/font/MadimiOne-Regular.ttf")
    format("TrueType");
  
}

